html {
  background-color: #323232;
  color: white;
  font-family: serif;
}

title {
  text-align: center;
}

img, video {
  display: block;
  max-width: 100%;
}

.header{
  color: white;
}

a:link {
  color: #A3BBAD;
}

a:visited {
  color: gray;
}

.nav {
  font-family: sans-serif;
}

.nav ul {
  height: auto;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline;
  padding: 1em
}

.nav a{
  text-decoration: none;
}
